.env
.idea/
node_modules/
tracks/*
records/*
/gpio.js
/debug.js
/database/documents/*
/commands/audio/48000 16.wav
/commands/audio/44100 16.wav
/commands/audio/48000 24.wav
/commands/audio/44100 24.wav